<div class="mainContainer">
    <p id="notice"><%= notice %></p>
    <h1>Bookings</h1>
    <!-- <%= link_to 'New Booking', new_booking_path %><br><br><br><br> -->



    <%= render 'form', remote: true, booking: @booking %>
<div class="formFields" id="destroyujs">

    <table>
      <tbody>
        <% @bookings.each do |booking|  %>


           <%= @job %> <br><br>
           <%= @boat %>
        </div>

        <div id="boatList" class="formFields"><br>


            Boat: <%= booking.boat.name %><br><br>
            Job: <%= booking.job.name %><br>
              <tr><br>
                <%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
                <br><br><br><br><br>
              </tr>
          </div>
       </div>

        <% end %>
      </tbody>
  </table>
</div>
