<div class="mainContainer">
    <p id="notice"><%= notice %></p>
        <% if current_user %>
              <div class="showField">
                <%= booking.boat %>
                <%= booking.job %>
              </div>
        <% end %>
</div>

        <%= link_to 'Edit', edit_booking_path(@booking) %> |
        <%= link_to 'Back', bookings_path %>
