<p id="notice"><%= notice %></p>
<%= form.file_field :avatars, multiple: true %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>

<% @user.avatar
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
